<style>
  .modal-content {
    background-color: #212121
  }
</style>
<!-- Modal Info -->
<div class="modal fade" id="infoModal-{{ item.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="infoModalLabel">{{ item.name }}</h1>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">x</button>
      </div>
      <div class="modal-body">
        {{ item.description|safe }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Purchases-->
<div class="modal fade" id="purchaseModal-{{ item.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="purchaseModalLabel">{{ item.name }}</h1>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">x</button>
      </div>
      <div class="modal-body">
        <form method="POST">
          {{ purchase_form.hidden_tag() }}
          <h4 class="text-center">
             Are you sure you want to buy {{ item.name }} for {{ item.price }}$ ?
          </h4>
          <br>
          <h6 class="text-center">
            By clicking Purchase, you will purchase this item.
          </h6>
          <br>
          <input type="hidden" id="purchased_item" name="purchased_item" value="{{item.name}}">
          {{ purchase_form.submit(class="btn btn-outline-success btn-block") }}
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>