{% extends 'base.html'%}
{% block title %}
Market Page
{% endblock %}
{% block content %}
<div class="container">
    <div class="mt-5">
          <a class="btn btn-outline btn-info" href="{{ url_for('market.new_item') }}">Add New Product</a>
    </div>
    <table class="table table-hover table-dark mt-5">
        <thead>
        <tr>
            <!-- Your Columns HERE -->
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Barcode</th>
            <th scope="col">Price</th>
            <th scope="col">Options</th>

        </tr>
        </thead>
        <tbody>
        <!-- Your rows inside the table HERE: -->
        {% for item in items %}
         {% include 'includes/delete_item_modals.html' %}
        <tr>
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.barcode}}</td>
            <td>{{item.price}}$</td>
            <td>
                <a href="{{ url_for('market.edit_item', item_id=item.id ) }}" class="btn btn-outline btn-info mx-1">Edit</a>
                <a type="button" class="btn btn-outline btn-danger" data-toggle="modal" data-target="#delete-{{ item.id }}">Delete</a>


            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}